<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  <main>
    {% include cover.html %}
    {% for section in page.sections %}
      <section id="{{ section.heading }}" name="{{ section.heading }}">
        <h2>{{ section.heading }}</h2>
        {% if section.body %}
          {{ section.body | markdownify }}
        {% endif %}

        {% if section.imageSteps %}
          <div class="contentImageStepsContainer">
            {% for imageStep in section.imageSteps %}
              <div class="contentImageSteps">
                <img src="{{ imageStep.image }}" alt="Handrail" />
                <div>
                  <h3>{{ imageStep.heading }}</h3>
                  <p>{{ imageStep.paragraph }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </section>
    {% endfor %}
    {% include branches.html %}
  </main>
  {% include footer.html %}
  <script src="/assets/js/main.js" charset="utf-8"></script>
</body>
</html>
